{%- liquid
  assign title = section.settings.title
  assign products = section.blocks
-%}

<div
  class="flex flex-col gap-20 pb-20"
  data-section
>
  <sticky-header class="desktop:h-[2.4375rem]">
    <div
      class="justify-between font-normal leading-[1.3] text-[1.375rem] px-5 hidden desktop:flex bg-[white] z-10"
      data-sticky-header
    >
      {%- if title != blank -%}
        <h2>
          {{- title -}}
        </h2>
      {%- endif -%}
      <a
        href="/"
        class="product-grid__link"
      >
        {{- 'collection.shop_now' | t -}}
      </a>
    </div>
  </sticky-header>
  <div
    class="flex gap-0.5 overflow-auto desktop:overflow-hidden snap-x snap-mandatory pb-2"
    data-sticky-trigger
  >
    {%- for product in products -%}
      {%- render 'card-product', card: product -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Product Grid",
  "tag": "section",
  "class": "sections",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "price",
          "label": "Price"
        },
        {
          "type": "text",
          "id": "colours",
          "label": "Colours"
        },
        {
          "type": "text",
          "id": "colour",
          "label": "Colour"
        },
        {
          "type": "text",
          "id": "sizes",
          "label": "Sizes"
        },
        {
          "type": "checkbox",
          "id": "bestseller",
          "label": "Bestseller"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Grid"
    }
  ]
}
{% endschema %}